<div class="container">
  <div class="row justify-content-center">
    <div class="col col-md-6">
      <div class="text-center form mt-5">
        <h2>Edit
          <%= resource_name.to_s.humanize %>
        </h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>

            <div class="form-label-group">
              <%= f.label :email %>
                <br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for:
                <%= resource.unconfirmed_email %>
              </div>
              <% end %>

                <div class="form-label-group">
                  <%= f.label :password %>
                    <i>(leave blank if you don't want to change it)</i>
                    <br />
                    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
                      <% if @minimum_password_length %>
                        <br />
                        <em>
                          <%= @minimum_password_length %> characters minimum</em>
                        <% end %>
                </div>

                <div class="form-label-group">
                  <%= f.label :password_confirmation %>
                    <br />
                    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
                </div>

                <div class="form-label-group">
                  <%= f.label :current_password %>
                    <i>(we need your current password to confirm your changes)</i>
                    <br />
                    <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
                </div>
                <br>

                <div class="form-label-group">
                  <%= f.submit "Send", class: 'btn btn-info' %>
                </div>
                <% end %>

                  <h3>Cancel my account</h3>

                  <p>Unhappy?
                    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-warning' %>
                  </p>

                  <%= link_to "Back", :back, class: 'btn btn-light' %>
      </div>
    </div>
  </div>
</div>