<div class="container">
  <div class="row justify-content-center">
    <div class="col col-md-6">
      <div class="text-center form mt-5">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
            <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
          </div>

            <div class="form-label-group">
              <%= f.label :email %>
                <br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
            </div>

            <div class="form-label-group">
              <%= f.label :password %>
                <% if @minimum_password_length %>
                  <em>(
                    <%= @minimum_password_length %> characters minimum)</em>
                  <% end %>
                    <br />
                    <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
            </div>

            <div class="form-label-group">
              <%= f.label :password_confirmation %>
                <br />
                <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control" %>
            </div>

            <div class="form-group">
              <%= f.submit "Sign up", class: 'btn btn-lg btn-primary btn-block' %>
            </div>
            <% end %>

              <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>