<div class="container">
  <div class="row">
    <div class="col text-center">
   <%= form_with(model: pin, local: true) do |form| %>
    <% if pin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pin.errors.count, "error") %> prohibited this pin from being saved:</h2>

      <ul>
      <% pin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group-label">
    <%= form.label :description, class: 'form-group' %>
    <%= form.text_field :description, id: :pin_description, class: 'form-group' %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit', class: 'btn btn-success' %>
  </div>
<% end %>
  
  </div>
</div>
</div>