<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <%= link_to "PinterestClone", root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to "Home", root_path, class:'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "About us", about_path, class:'nav-link' %>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
      
      <% if user_signed_in? %>
        
        <li class="nav-item">
          <%= link_to "Logout", destroy_user_session_path, class: 'nav-link', method: :delete  %>
        </li>
        <li class="nav-item">
          <%= link_to "Edit Profile", edit_user_registration_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "List Pins", pins_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "New Pin", new_pin_path, class: 'nav-link' %>
        </li>
      <% else %>
        <li class="nav-item active">
           <%= link_to "Login", new_user_session_path, class: 'nav-link'  %>
        </li>
        <li class="nav-item">
          <%= link_to "Join", new_user_registration_path, class: 'nav-link'  %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</nav>