<div class="row">
  <div class="col">
    <div class="jumbotron container">  
      <h1 class="display-3">Wellcome to my pinterest app</h1>
      <p> Pretty cool dont you think?</p>
      <% if user_signed_in? %>
        <%= link_to "Edit Profile", edit_user_registration_path, class: 'btn btn-info'  %>
        <%= link_to "List Pins", pins_path, class: 'btn btn-success'  %>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: 'btn btn-light'  %>
        <%= link_to "Join", new_user_registration_path, class: 'btn btn-info'  %>
      <% end %>
    </div>
  </div>
</div>