<div class="container">
  <div class="row justify-content-center">
    <div class="col col-md-6">
      <div class="text-center form mt-5">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">Login</h1>
          </div>
          <div class="form-label-group">
            <%= f.label :email %>
              <br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email",  class:"form-control" %>
          </div>

          <div class="form-label-group">
            <%= f.label :password %>
              <br />
              <%= f.password_field :password, autocomplete: "off",  class:"form-control" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="form-label-group">
              <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
            </div>
            <% end -%>

              <div class="form-group">
                <%= f.submit "Log in", class: 'btn btn-lg btn-primary btn-block' %>
              </div>
              <% end %>

                <%= render "devise/shared/links" %>

      </div>
    </div>
  </div>
</div>