// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.jumbotron {
  text-align: center;
  margin-top: 10px;
  border-radius: 2%;
}
